body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 90%;
}

#black {
    color: white;
    background-color: black;
}

#black:hover {
    background-color: red;
}

#black,
.whitecard {
    width: 10em;
    min-height: 5em;
    display: flex;
    /* align-items: center; */
    margin: .5em;
    padding: 1em;
    border-radius: .75em;
    border: 1px solid black;
}

@media screen and (min-width: 40em) {
    body {
        font-size: 100%;
    }

    #black,
    .whitecard {
        min-height: 10em;
    }
    
}

.whitecard:hover {
    background-color: gray;
}

.cardlist {
    display: flex;
    flex-wrap: wrap;
}

.hiddencards .whitecard {
    color: white;
}
