body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 90%;
    background-color: black;
}

.card {
    min-height: 1.5em;
    margin: .5em;
    padding: 1em;
    border-radius: .75em;
    border: 1px solid;
}

.card:hover {
    opacity: .5;
}

.question {
    color: white;
    background-color: black;
    border-color: white;
}

.answer {
    color: black;
    background-color: white;
    border-color: black;
}


.cardlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    .cardlist {
        flex-direction: row;
    }

    body {
        font-size: 100%;
    }

    .card {
        min-height: 8em;
        width: 10em;
    }
}



#counter {
    font-style: italic;
    color: lightgray;

}

.empty {
    color: black;
    background-color: black;
    border: 1px dashed white;
    opacity: .5;
}

.stack {
    box-shadow: 5px 3px lightgray;
}


.multiselect {
    color: orange;
}
