body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 90%;
    background-color: black;
}

.card {
    width: 10em;
    min-height: 5em;
    margin: .5em;
    padding: 1em;
    border-radius: .75em;
    border: 1px solid;
}

.card:hover {
    opacity: .5;
}

.question {
    color: white;
    background-color: black;
    border-color: white;
}

.answer {
    color: black;
    background-color: white;
    border-color: black;
}

@media screen and (min-width: 40em) {
    body {
        font-size: 100%;
    }

    .card {
        min-height: 10em;
    }
}


.cardlist {
    display: flex;
    flex-wrap: wrap;
}



#counter {
    font-style: italic;
    color: lightgray;

}

.empty {
    color: black;
    background-color: black;
    border: 1px dashed white;
    opacity: .5;
}


.multiselect {
    color: orange;
}
